.container {
  display: flex;
  justify-content: center;

  .beer-container {
    flex: 0 0 600px;
    padding-top: 30px;

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .details {
      margin-left: 50px;

      .tagline {
        font-style: italic
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
